@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Orders";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
    
    <div class="row">
        <h3>Add a new order</h3>
    </div>
    <form action="orders/add" method="POST">
        <div class="row">
            <div class="col-md-1">
                <span>Customer </span>
            </div>
            <div class="col-md-4">
                <select name="CustomerId" class="form-control">
                    @foreach(var customer in @ViewBag.Customers)
                    {
                        <option value=@customer.CustomerId>@customer.name</option>
                    }
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <span>Order  </span>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="number" min="1" name="quantity" value="1">
            </div>
            <div class="col-md-4">
                <select class="form-control" name="ProductId">
                    @foreach(var product in @ViewBag.Products)
                    {
                        <option value=@product.ProductId>@product.name</option>
                    }
                </select>
            </div>
        </div>@TempData["invalidorder"]
        <div class="row">
            <div class="col-md-2">
                <button class="btn-primary" type="submit">Order</button>
            </div>
        </div>
    </form>
<div class="row" style="text-align: right;">
    <div class="col-md-2">
        <input class="form-control" type="text" name="orderfilter" placeholder="filter...">
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Customer Name</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price/Unit</th>
            <th>Order Date</th>
            <th>Total Price</th>
            <th>Make Payment</th>
        </thead>
        <tbody>
            @foreach(var customer in @ViewBag.Customerorders)
            { double sum = @customer.quantity*@customer.product.price;
                double amount = sum * 100;
                int adjamt = (int)amount;
                <tr>
                    <td>@customer.customer.name</td>
                    <td>@customer.product.name</td>
                    <td>@customer.quantity</td>
                    <td>$@customer.product.price</td>
                    <td>@customer.created_at.ToString("MMMM d yyyy")</td>
                    <td>$@sum</td>
                    <td><form action="Charge" method="POST">
                    <input type="hidden" name="amount" value=@adjamt>
                    <input type="hidden" name="description" value=@customer.product.name>
                    <script src="//checkout.stripe.com/v2/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-image="@customer.product.image"
                            data-description="@customer.product.name"
                            data-amount=@adjamt>
                    </script>
                </form></td>
                </tr>
            }
        </tbody>
    </table>
</div>
