@model E_Commerce.Models.ProductViewModel
@{
    ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-3 col-xs-3 col-sm-3 col-md-3" style="display: inline-block; margin-right:10px">
        <form style="display: inline" action="filterproducts" method="POST">
            <input class="form-control" type="text" name="productsearch" placeholder="search...">
            <br>
            <button class="btn-primary" type="submit">Filter</button>
        </form>
        <br>
        <h3 class="col-2">Add a new product</h3>
        <form class="form" asp-controller="Home" asp-action="addproduct" method="POST">
            <p>Name: </p>
            <p><span class="text-danger" asp-validation-for="name"></span></p>
            <input class="form-control" type="text" name="name" placeholder="name...">
            <p>Image (url): </p>
            <p><span class="text-danger" asp-validation-for="image"></span></p>
            <input class="form-control" type="text" name="image" placeholder="http://">
            <p>Description: </p>
            <p><span class="text-danger" asp-validation-for="description"></span></p>
            <textarea class="form-control" type="text" name="description"></textarea>
            <p>Unit Price: </p>
            <p><span class="text-danger" asp-validation-for="price"></span></p>
            <input class="form-control" type="number" name="price" min="0" step="0.01" placeholder="19.99">
            <p>Initial Quantity: </p>
            <p><span class="text-danger" asp-validation-for="quantity"></span></p>
            <input class="form-control" type="number" name="quantity" min="1" max="10000" value="1">
            <br>
            <button class="btn-primary" type="submit">Create</button>
        </form>
    </div>
    <div class="col-2 col-xs-6 col-sm-8 col-md-8" style="text-align: center; display: inline-block; vertical-align: top;">
        @foreach(var product in @ViewBag.Products)
        {
            <div style="display: inline-block; margin: 10px;">
                <img style="height: 110px; width: 110px;" src=@product.image alt="product image">
                <p class="col-1">@product.name</p>
                <p class="col-1">(@product.quantity left)</p>
                <label>$@product.price</label>
            </div>
        }
        <p><a>show more...</a></p>
    </div>
</div>


